#cancel-button {
  margin: 10px;
  border-radius: 0px;
}


#header {
  padding-left: 20px;
  float: middle;
 font-size: 24px;
}


#save-button {
  float: right;
}

#profile_picture {
 position: relative;
 margin: 0 auto;
 width: 256px;
 height: 256px;
}

#image {
  width: 100%;
 height: 100%;
  filter: brightness(75%);
}

.back-element {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}

.front-element {
  position: absolute !important;
  top: 50% !important;
  right: 28.5% !important;
  z-index: 2 !important;
  transform: translate(-50%, -50%);
}

#upload-icon {
  color: rgb(232,232,232);
}

#upload-button {
  border-radius: 100%;
  background: rgba(0,0,0,0) !important;
}

#upload-button:hover {
  background: rgba(255,255,255,.125) !important;
}

/* Create three equal columns that floats next to each other */
.column {
  vertical-align: middle;
  float: left;
  padding: 10px;
}


.vanish {
  display: none;
}

select option[disabled] {
    display: none;
}


.skill {
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  margin-top: 5px;
  display: inline-block;
}

.feedback {
  width: 100%;
  height: 25px;
  padding: 0;
  margin: 0 auto;
  color: red;
}

.feedback.message {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0 auto;
}

#select-connections {
  margin-top: 5px;
  overflow: auto;
  border: 1px solid lightgray;
}

#members-field {
  text-align: left;
  word-wrap: break-word;
  height: auto;
  min-height: 75px;
}

.black {
  background: black;
}

#members-field:focus-within {
 border: 1px solid #3273dc;
 box-shadow:0 0 0 0.125em rgba(50,115,220,.25);
}

#members-text-field.placeholder:empty:before{
    content:attr(data-text);
    color:#C8C8C8;

}

#members-text-field {
}

#members-text-field:focus {
    outline: 0px solid transparent;
}

.profile-bigBox {
  float: middle;
  width: 100%
  height: 75px;
  margin: 0;
  cursor: pointer;
  padding: 0;
}

.profile-bigBox:hover {
background-color: royalblue;
  color: white;
}

.profile-leftBox {
  float:left;
  height:100%;
  min-height: 100%;
  width: 75px;
  padding: 0px;
  margin: 0;
  background-color: white;
}

.image {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
}

.profile-rightBox {
  min-height: 100%;
  float:right;
  height:100%;
  min-width: 350px;
  padding: 10px;
  text-align: left;
}

.profile-column {
  float: left;
}

.profile {
  margin-right: 5px;
}

#member-tags-container {
}
