{% extends "base.html" %}
{% block body %}

{% include "navbar.html" %}

{% if profile == current_user %}
	<section class="hero is-info is-bold is-small">
  	<div class="hero-body">
      <div class="has-text-centered" id="bigBox">
        <div class="column" id="connections-box">
        <p class="title">Connections</p>
        
        {% if connections %}
        {% for connection in connections %}

              <div valign="top" class="row media-bigBox">
            <div class="media-column media-leftBox" onclick="window.location='/profile/{{connection.username}}/';"><img class="image" src="{{ connection.get_profile_pic() }}"></div>
            <div class="media-column media-middleBox" onclick="window.location='/profile/{{connection.username}}/';">
              <h1 style="color:black"><b>   
              {{ connection.name }}</b></h1>
              
          </div>
            <div class="media-column media-rightBox" onclick="window.location='/messages/{{connection.username}}/';">
              <span class="icon is-large">
              
  <span class="fa-2x chat">
    <i class="fas fa-comments"></i>
  </span>
</span>
            </div>
            <hr>
        </div>
              {% endfor %}
            {% else %}
            <div>
              No connections yet..
            </div>
            {% endif %}
</div>
<div class="column" id="groups-box">
        <div class="row" style="margin: 0 auto; width: 150px;">
        <p class="title" style="float: left;">Groups</p>
        <button class="button circle-button is-info is-inverted is-outlined" style="float: right;" onclick="window.location='/create/group/';">
          <span class='icon is-normal is-danger'><i class='fa fa-plus'></i></span>
        </button>
      </div>
        {% if groups %}
        {% for group in groups %}
        {% endfor %}
        {% else %}
        <div>
        No groups yet..
        </div>
        {% endif %}
</div>
  <div class="column">
         <div class="row" style="margin: 0 auto; width: 160px;">
        <p class="title" style="float: left;">Projects</p>
        <button class="button circle-button is-info is-inverted is-outlined" style="float: right;" onclick="window.location='/create/project/';">
          <span class='icon is-normal is-danger'><i class='fa fa-plus'></i></span>
        </button>
      </div>
        <div class="media-container">
        {% if projects %}
        {% for project in projects %}
        {% endfor %}
        {% else %}
        <div>
        No projects yet..
        </div>
        {% endif %}
        </div>
  </div>

</div>
  </div>
</section>
{% else %}
  <section class="hero is-info is-bold is-small">
    <div class="hero-body">
      <div class="has-text-centered" id="bigBox">
        <div class="column" id="connections-box">
        <p class="title">Connections</p>
        
        {% if connections %}
        {% for connection in connections %}

              <div valign="top" class="row media-bigBox">
            <div class="media-column media-leftBox" onclick="window.location='/profile/{{connection.username}}/';"><img class="image" src="{{ connection.get_profile_pic() }}"></div>
            <div class="media-column media-middleBox" onclick="window.location='/profile/{{connection.username}}/';">
              <h1 style="color:black"><b>   
              {{ connection.name }}</b>{% if connection == current_user %} (You){% endif %}</h1>
              
          </div>
            <div class="media-column media-rightBox">
            </div>
            <hr>
        </div>
              {% endfor %}
            {% else %}
            <div>
              No connections yet..
            </div>
            {% endif %}
</div>
<div class="column" id="groups-box">
        <p class="title">Groups</p>
        {% if groups %}
        {% for group in groups %}
        {% endfor %}
        {% else %}
        <div>
        No groups yet..
        </div>
        {% endif %}
</div>
  <div class="column">
        <p class="title">Projects</p>
        <div class="media-container">
        {% if projects %}
        {% for project in projects %}
        {% endfor %}
        {% else %}
        <div>
        No projects yet..
        </div>
        {% endif %}
        </div>
  </div>

</div>
  </div>
</section>
{% endif %}

{% if create_group %}
{% include "create_group.html" %}
{% elif create_project %}
{% include "create_project.html" %}
{% endif %}

{% endblock %}
{% block scripts %}
<link rel="stylesheet" href="/static/css/connections.css">
<script src="/static/js/connections.js"></script>
{% if create_group %}
<link rel="stylesheet" href="/static/css/create_group.css">
<script src="/static/js/create_group.js"></script>
{% elif create_project %}
<link rel="stylesheet" href="/static/css/create_project.css">
<script src="/static/js/create_project.js"></script>
{% endif %}

<script src="/static/js/navbar.js"></script>
{% endblock %}