{% extends "base.html" %}
{% block body %}
<div class="modal is-active">
<div class="modal-background"></div>
<div class="modal-card">
  <header class="modal-card-head">
    <a href="javascript:location.replace('/profile/')" class="delete" aria-label="close"></a>
    <p class="modal-card-title" id="header">Edit Profile</p>
    <button class="button is-info is-normal is-rounded" id="save-button">
      <span>Save</span>
    </button>
    </header>
  <section class="modal-card-body has-text-centered">

  <div id="profile_picture">
      <div id="image-wrapper" class="back-element">
      <img id="image" src="{{ current_user.get_profile_pic() }}">
      </div>
      <input type="file"  accept="image/*" name="image" id="upload" onchange="loadFile(event)" style="display: none;">
      <button class="button is-success is-large is-inverted front-element" id="upload-button">
    <span class="icon is-medium">
      <i id="upload-icon" class="fa fa-camera-retro"></i>
    </span>
  </button>
  </div>
  <br>
  <div>
    <div id="name">
      <h1><b>Name</b></h1>
      <textarea class="textarea has-fixed-size" placeholder="Add your name" id="name-field" rows="1">{{current_user.name}}</textarea>
    </div>
      <div id="feedback-name" class="feedback">
        <div class="message"></div>
      </div>
      <br id="name-anchor">
    <div id="bio">
      <h1><b>Bio</b></h1>
      <textarea class="textarea has-fixed-size" placeholder="Add your bio" id="bio-field" rows="3">{% if current_user.bio %}{{ current_user.bio }}{% endif %}</textarea>
    </div>
      <div id="feedback-bio" class="feedback">
        <div class="message"></div>
      </div>
      <br id="bio-anchor">
    <div id="location">
      <h1><b>Location</b></h1>
      <textarea class="textarea has-fixed-size" placeholder="Add your location" id="location-field" rows="2">{{ current_user.location }}</textarea>
    </div>
      <div id="feedback-location" class="feedback">
        <div class="message"></div>
      </div>
      <br id="location-anchor">
    <div id="birthdate">
      <h1><b>Birthday</b></h1>
      {% include "datepicker.html" %}
    </div>
      <div id="feedback-birthdate" class="feedback" class="feedback">
        <div class="message"></div>
      </div>
      <br id="birthdate-anchor">

      <h1><b>Gender</b></h1>
      <div>
      <div class='select'> 
        <select id="gender"> 
          <option selected>Unknown</option>
          <option {% if current_user.gender == "Male" %} selected {% endif %}>Male</option>
          <option {% if current_user.gender == "Female" %} selected {% endif %}>Female</option>
          <option {% if current_user.gender == "Other" %} selected {% endif %}>Other</option>
      </select>
    </div>
  </div>
      <br>
      <h1><b>Skills</b></h1>
      <div id="skills">
      {% for skill in current_user.skills %}
        <div class='skill'>
          <button class='button is-info is-normal is-'>
            <span>{{ skill.title }}</span>
            <span class='icon remove-skill'><a class="delete"></a></span></button>
        </div>
      {% endfor %}
      </div>

        <div id='select-skill' class='select is-info vanish'> 
        <select id="selected-skill"> 
          <option value='' disabled hidden selected>Select skill</option> 
          {% for title in available_skills %}
          {% if not current_user.has_skill(title) %}
          <option>{{ title }}</option>
          {% endif %}
          {% endfor %}
        </select>
      </div>
        <button id='add-skill' class='button is-info is-normal is-inverted vanish' disabled><span>Add</span><span class='icon is-normal is-danger'><i class='fa fa-plus'></i></span></button>
      <button id="add-a-skill" class="button is-info is-normal is-inverted {% if current_user.has_skills(available_skills) %} vanish {% endif %}">
      <span>Add skill</span>
      <span class="icon is-normal is-danger"><i class="fa fa-plus"></i>
      </span></button>
  </div>

  <br>

</div>
</section>
</div>
</div>
{% endblock %}
{% block scripts %}
<script src="/static/js/datepicker.js"></script>
{% endblock %}