{% extends "base.html" %}
{% block body %}
<div class="modal is-active">
<div class="modal-background"></div>
<div class="modal-card">
  <header class="modal-card-head">
    <a href="javascript:location.replace('/profile/')" class="delete" aria-label="close"></a>
    <p class="modal-card-title" id="header">Edit Profile</p>
    <button class="button is-primary is-normal is-rounded" id="save-button">
      <span>Save</span>
    </button>
    </header>
  <section class="modal-card-body has-text-centered">

  <div id="profile_picture">
      <div id="image-wrapper" class="back-element">
      <img id="image" src="{{ current_user.get_profile_pic() }}">
      </div>
      <input type="file"  accept="image/*" name="image" id="upload" onchange="loadFile(event)" style="display: none;">
      <button class="button is-success is-large is-inverted front-element" id="upload-button">
    <span class="icon is-medium">
      <i id="upload-icon" class="fa fa-camera-retro"></i>
    </span>
  </button>
  </div>
  <br>
  <div>
    <div id="name">
      <h1><b>Name</b></h1>
      <textarea class="textarea has-fixed-size" placeholder="Add your name" id="name-field" rows="1">{{current_user.name}}</textarea>
    </div>
      <div id="feedback-name" class="feedback">
        <div class="message"></div>
      </div>
      <br id="name-anchor">
    <div id="bio">
      <h1><b>Bio</b></h1>
      <textarea class="textarea has-fixed-size" placeholder="Add your bio" id="bio-field" rows="3">{% if current_user.bio %}{{ current_user.bio }}{% endif %}</textarea>
    </div>
      <div id="feedback-bio" class="feedback">
        <div class="message"></div>
      </div>
      <br id="bio-anchor">
    <div id="location">
      <h1><b>Location</b></h1>
      <textarea class="textarea has-fixed-size" placeholder="Add your location" id="location-field" rows="2">{{ current_user.location }}</textarea>
    </div>
      <div id="feedback-location" class="feedback">
        <div class="message"></div>
      </div>
      <br id="location-anchor">
    <div id="birthday">
      <h1><b>Birthday</b></h1>
      {% include "datepicker.html" %}
    </div>
      <div id="feedback-birthday" class="feedback" class="feedback">
        <div class="message"></div>
      </div>
      <br id="birthday-anchor">

      <h1><b>Gender</b></h1>
      <div>
      <div class='select'> 
        <select id="gender"> 
          <option selected>Unknown</option>
          <option {% if current_user.gender == "Male" %} selected {% endif %}>Male</option>
          <option {% if current_user.gender == "Female" %} selected {% endif %}>Female</option>
          <option {% if current_user.gender == "Other" %} selected {% endif %}>Other</option>
      </select>
    </div>
  </div>
      <br>
      <h1><b>Skills</b></h1>
      <div id="skills">
      {% for skill in current_user.skills %}
        <div class='skill'>
          <button class='button is-info is-normal is-'>
            <span>{{ skill.title }}</span>
            <span class='icon remove-skill'><a class="delete"></a></span></button>
        </div>
      {% endfor %}
      </div>

        <div id='select-skill' class='select is-info vanish'> 
        <select id="selected-skill"> 
          <option value='' disabled hidden selected>Select skill</option> 
          {% for title in available_skills %}
          {% if not current_user.has_skill(title) %}
          <option>{{ title }}</option>
          {% endif %}
          {% endfor %}
        </select>
      </div>
        <button id='add-skill' class='button is-info is-normal is-inverted vanish' disabled><span>Add</span><span class='icon is-normal is-danger'><i class='fa fa-plus'></i></span></button>
      <button id="add-a-skill" class="button is-info is-normal is-inverted {% if current_user.has_skills(available_skills) %} vanish {% endif %}">
      <span>Add skill</span>
      <span class="icon is-normal is-danger"><i class="fa fa-plus"></i>
      </span></button>
  </div>

  <br>

</div>
</section>
</div>
</div>
{% endblock %}
{% block scripts %}
<script src="/static/js/datepicker.js"></script>
<link rel="stylesheet" href="/static/css/profile.css">
<script>

  function message(status, box_id, shake=false) {
  $("#feedback-"+box_id).stop(stopAll=true);
document.getElementById(box_id+"-anchor").scrollIntoView(false);

  if (shake) {
    $("#"+box_id).effect("shake", {direction: "right", times: 2, distance: 8}, 350);
  }
  $("#feedback-"+box_id).animate({ opacity: 1 })
  $('#feedback-'+box_id).text(status);
  $("#feedback-"+box_id).delay(2000).animate({ opacity: 0 })
}

 $(document).on("click", "#save-button", function() {
   console.log("Applying edit");
   var skills = $("#skills :button").map(function() { return $(this).children().first().text();}).get();
   
   var formData = new FormData();
   formData.append('image', $("#upload").prop('files')[0]);

   formData.append("name", $("#name-field").val());

   formData.append("bio", $("#bio-field").val());

   formData.append("location", $("#location-field").val());

   if ($("#month").val()) {
    formData.append("month", $("#month").val());
  }
   
   if ($("#day").val()) {
    formData.append("day", $("#day").val());
  }

  if ($("#year").val()) {
    formData.append("year", $("#year").val());
  }

   formData.append("gender", $("#gender").val());

   formData.append("skills", JSON.stringify(skills));

    $.post({
      type: "POST",
      url: "/settings/profile/",
      data: formData,
      processData: false,
      contentType: false,
      success(response) {
        var response = JSON.parse(response);
        var status = response["status"];
        if (status === "Successfully saved") { location.replace("/profile/"); }
        else{message(status, response["box_id"], true);}
        
      }});
  });


$(document).on('change','#selected-skill',function(){
               if ($('#selected-skill').val() != 'Select skill') {
                $('#add-skill').prop("disabled", false);
               }       
             });



 $(document).on("click", "#add-a-skill", function() {
    $('#add-a-skill').addClass("vanish");
    $('#select-skill').removeClass("vanish");
    if ($('#selected-skill').val() == 'Select skill') {
            $('#add-skill').prop("disabled", true);
    }       
    $('#add-skill').removeClass("vanish");
  });

 $(document).on("click", "#add-skill", function() {
  $('#select-skill').addClass("vanish");
  $('#add-skill').addClass("vanish");
  $('#add-a-skill').removeClass("vanish");
  $("#skills").append("<div class='skill'><button class='button is-info is-normal is-'><span class='skill-title'>"+$('#selected-skill').val()+"</span><span class='icon remove-skill'><a class='delete'></a></span></button></div>");
  $('#selected-skill option:selected').remove();
  console.log($('#selected-skill').children().length)
  if ($('#selected-skill').children().length == 1) {
    $('#add-a-skill').addClass("vanish");
  }
 });


 $(document).on("click", ".remove-skill", function() {
  $('#selected-skill').append('<option>'+$(this).prev('span').text()+'</option>')
  $(this).closest('div').remove();
  $('#add-a-skill').removeClass("vanish");

});


function loadFile(input) {
  if (event.target.files[0]) {
  $("#image").attr('src', URL.createObjectURL(event.target.files[0]));
}
  console.log("WOOOOOW");
};

$(document).on("click", "#upload-button", function() {
  $("#upload").click();
});

</script>
{% endblock %}