{% extends "base.html" %}
{% block body %}
  
          
<div class="container has-text-centered" id="container">
  
  <div valign="top" id="bigBox" class="row">
  
    <div id="leftBox" class="column">
      <a href="javascript:location.replace('/profile/')" class="button is-primary is-normal is-rounded is-inverted" id="cancel-button">
      <span class="icon is-normal is-danger">
      <i class="fa fa-times fa-2x"></i>
      </span>
      </a>
    </div>

    <div id="middleBox" class="column">
      <h1 class="title" id="header">Edit Profile</h1>
    </div>
    
    <div id="rightBox" class="column">
      <button class="button is-primary is-normal is-rounded" id="save-button">
      <span>Save</span>
      </button>
    </div>

  </div>

  <hr>

  <div id="profile_pic">
      <div id="image-wrapper" class="back-element">
      <img id="image" src="{{ current_user.profile_pic(256) }}">
      </div>
      <input type="file"  accept="image/*" name="image" id="upload" onchange="loadFile(event)" style="display: none;">
      <button class="button is-success is-large is-inverted front-element" id="upload-button">
    <span class="icon is-medium">
      <i id="upload-icon" class="fa fa-camera-retro"></i>
    </span>
  </button>
  </div>
  <br>
  <div>
      <h1><b>Name</b></h1>
      <textarea class="textarea has-fixed-size" placeholder="Add your name" id="name-field" rows="1">{{current_user.name}}</textarea> 
      <br>
      <h1><b>Bio</b></h1>
      <textarea class="textarea has-fixed-size" placeholder="Add your bio" id="bio-field" rows="3">{% if current_user.bio %}{{ current_user.bio }}{% endif %}</textarea>
      <br>
      <h1><b>Location</b></h1>
      <textarea class="textarea has-fixed-size" placeholder="Add your location" id="location-field" rows="2">{{ current_user.location }}</textarea>
      <br>
      <h1><b>Skills</b></h1>
      
      <div id="skills">
      {% for skill in current_user.skills %}
        <div class='skill'>
          <button class='button is-info is-normal is-'>
            <span>{{ skill.title }}</span>
            <span class='icon remove-skill'><a class="delete"></a></span></button>
        </div>
      {% endfor %}
      </div>

        <div id='select-skill' class='select is-info vanish'> 
        <select id="selected-skill"> 
          <option value='' disabled hidden selected>Select skill</option> 
          <option>Software</option>
          <option>Marketing</option>
          <option>Writing</option>
          <option>Photography</option>
          <option>Videography</option>
          <option>Photo editing</option>
          <option>Film editing</option>
          <option>Music producer</option>
          <option>Accountant</option>
          <option>Salesman</option>
          <option>(X) designer</option>
          <option>Lawyer</option>
          <option>Investor</option>
        </select>
      </div>
        <button id='add-skill' class='button is-info is-normal is-inverted vanish'><span>Add</span><span class='icon is-normal is-danger'><i class='fa fa-plus'></i></span></button>
      <button id="add-a-skill" class="button is-info is-normal is-inverted">
      <span>Add skill</span>
      <span class="icon is-normal is-danger"><i class="fa fa-plus"></i>
      </span></button>
  </div>

  <br>

  <div id="feedback">
  </div>

</div>
{% endblock %}
{% block scripts %}
<style>


#container {
  width: 500px;
  height: 0px;
  margin-bottom: 0;
}

#datop:after {
  display: table;
  clear: both;
  width:100%;
}

#cancel-button {
  margin: 10px;
  border-radius: 0px;
}


#header {
  margin: 5px;
  float: middle;
 font-size: 24px;
}


#save-button {
  float: right;
}

#profile_pic {
 position: relative;
 margin: 0 auto;
 width: 256px;
 height: 256px;
}

#image {
  width: 100%;
 height: 100%;
  filter: brightness(75%);
}

.back-element {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}

.front-element {
  position: absolute !important;
  top: 50% !important;
  right: 28.5% !important;
  z-index: 2 !important;
  transform: translate(-50%, -50%);
}

#upload-icon {
  color: rgb(232,232,232);
}

#upload-button {
  border-radius: 100%;
  background: rgba(0,0,0,0) !important;
}

#upload-button:hover {
  background: rgba(255,255,255,.125) !important;
}

.column {
  margin-top: 10px;
  margin-bottom: 10px;
  vertical-align: middle;
  float: left;
  padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

#bigBox {
  width:100%;
  height: 50px;
}

#leftBox {
  height: 100%;
  float:left;
  width: 20%;
  padding: 0px;
  padding-right: 10px;
}
#middleBox {
  height: 100%;
  float:middle;
  width: 30%;
}

#rightBox {
  height: 100%;
  float:right;
  width: 50%;
}

.vanish {
  display: none;
}

.skill {
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  margin-top: 5px;
  display: inline-block;
}
</style>
<script src="/static/js/navbar.js"></script>
<script>
  function message(status, shake=false, id="") {
  if (shake) {
    $("#"+id).effect("shake", {direction: "right", times: 2, distance: 8}, 250);
  } 
  document.getElementById("feedback").innerHTML = status;
  $("#feedback").show().delay(2000).fadeOut();
}

 $(document).on("click", "#save-button", function() {
   console.log("Applying edit");
   var skills = $("#skills :button").map(function() { return $(this).children().first().text();}).get();
    $.post({
      type: "POST",
      url: "/settings/profile/",
      data: {"name": $("#name-field").val(),
             "bio": $("#bio-field").val(),
             "location": $("#location-field").val(),
             "skills": JSON.stringify(skills)},
      success(response) {
        var status = JSON.parse(response)["status"];
        if (status === "Successfully saved") { location.replace("/profile/"); }
        else{message(status, true, "feedback");}
        
      }});
  });


 $(document).on("click", "#add-a-skill", function() {
    $('#add-a-skill').addClass("vanish");
    $('#select-skill').removeClass("vanish");
    $('#add-skill').removeClass("vanish")
  });

 $(document).on("click", "#add-skill", function() {
  $('#select-skill').addClass("vanish");
  $('#add-skill').addClass("vanish");
  $('#add-a-skill').removeClass("vanish");
  $("#skills").append("<div class='skill'><button class='button is-info is-normal is-'><span>"+$('#selected-skill').val()+"</span><span class='icon remove-skill'><a class='delete'></a></span></button></div>");
 });


 $(document).on("click", ".remove-skill", function() {
  $(this).closest('div').remove();
});


function loadFile(input) {
  if (event.target.files[0]) {
  $("#image").remove();
  $("#image-wrapper").prepend('<img id="image" src="'+URL.createObjectURL(event.target.files[0])+'">');
}
  console.log("WOOOOOW");
};

$(document).on("click", "#upload-button", function() {
  $("#upload").click();
});

</script>
{% endblock %}