{% extends "base.html" %}
{% block body %}

{% include "navbar.html" %}
	<section class="hero is-info is-bold is-small" style="user-select: none;">

  	<div class="hero-body">
    <div id="field" class="container has-text-centered">
          <div id="explore-box" class="explore-box">
              <p class="title">Explore</p>
              <div class="field">
  <div class="control has-icons-left">

              <div class="field" id="location">
                <p class="control has-icons-left has-icons-right">
                  <input id="location-field" class="input is-info" type="location" placeholder="Location" {% if address %} value="{{address}}" {% endif %}>
                  <span class="icon is-small is-left">
                    <i class="fa fa-globe"></i>
                  </span>
                  <span class="icon is-small is-right">
                    <i class="fa fa-check"></i>
                  </span>
                </p>
              </div>

              <div class="field" id="radius">
                <p class="control has-icons-left has-icons-right">
                  <input id="radius-field" class="input is-info" type="int" placeholder="Radius (km)" {% if radius %} value="{{radius}}" {% endif %}>
                  <span class="icon is-small is-left">
                    <i class="fa fa-wifi"></i>
                  </span>
                  <span class="icon is-small is-right">
                    <i class="fa fa-check"></i>
                  </span>
                </p>
              </div>

<div style="margin: 0 auto; display: table;">
    <div class="select is-info">
    <select id="skill">
    <option value="" selected>All</option>
    {% for title in available_skills %}
    <option {% if title == skill %} selected {% endif %}>{{title}}</option>
    {% endfor %}
    </select>
    
    <div class="icon is-small is-left">
      <i class="fa fa-star"></i>
      </div>
    </div>

<div class="select is-info">
    <select id="gender">
    <option value="" selected>All</option>
    <option {% if gender == "Male" %} selected {% endif %}>Male</option>
    <option {% if gender == "Female" %} selected {% endif %}>Female</option>
    <option {% if gender == "Other" %} selected {% endif %}>Other</option>
    </select>
    
    <div class="icon is-small is-left">
      <i class="fa fa-intersex"></i>
      </div>
    
  </div>
</div>
  <div>
  <p style="float: left;">Age:</p>
  <p id="amount" style="float: right;"></p>
 </div>
  <br>
<div id="slider-range"></div>

  </div>
</div>
              <a id="explore-button" class="form-button button is-info is-inverted is-outlined">Explore</a>
               <br>
              <br>
              <i><a id="feedback" class="feedback"></a></i>
              <br>
            </div>
            {% if search and profiles %}
            {% for profile, distance in zip(profiles, distances) %}
              <div valign="top" class="row" id="bigBox" onclick="window.location='/profile/{{profile.username}}/';">
            <div class="column" id="leftBox"><img id="image" src="{{ profile.get_profile_pic() }}"></div>
            <div class="column" id="middleBox">
              <h1 style="color:black"><b>
              
              {{ profile.name }}</b> {% if profile == current_user %}(You){% endif %}</h1>
              
          </div>
            <div class="column" id="rightBox">
              <b>{{distance}} km </b>
            </div>
            <hr>
        </div>
              {% endfor %}
            {% endif %}
            {% if search and not profiles %}
            <div>
              Couldn't find any profiles nearby with requirements...
            </div>
            {% endif %}
            </div>
          </div>
        </div>
      </div>
  </div>
</section>
{% include "footer.html" %}
{% endblock %}
{% block scripts %}
<style>



/* Create three equal columns that floats next to each other */
.column {
  vertical-align: middle;
  float: left;
  padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

#bigBox {
  width: 425px;
  height: 75px;
  margin: auto;
  cursor: pointer;
}

#bigBox:hover{
  outline:3px solid white;
}

#leftBox {
  float:left;
  height:75px;
  width: 75px;
  padding: 0px;
  padding-right: 0px;
  background-color: white;
}

#image {
  width: 100%;
  height: 100%;
}

#middleBox {
  float:middle;
  height: 75px;
  width: 250px;
  background: white;
  padding-left: 1px;
}

#rightBox {
  float:right;
  height:75px;
  width: 100px;
  background: white;
  color: black;
}

#field {
  width: 425px;
  margin: auto;
}

#slider-range {
  background: rgb(255,255,255);
}

#slider-range .ui-slider-range {
  background-color: rgb(0, 112, 184);
}

.ui-slider .ui-slider-handle {

}
</style>
<script src="../static/js/navbar.js"></script>
<script type="text/javascript">
  function message(status, box_ids, shake=false) {
  $("#feedback").stop(stopAll=true);
  box_ids.forEach( function (box_id, index) {
    if (shake) {
    $("#"+box_id).effect("shake", {direction: "right", times: 2, distance: 8}, 350);
  }
  $("#feedback").animate({ opacity: 1, queue: false })
});
  $('#feedback').text(status);
  $("#feedback").delay(2000).animate({ opacity: 0, queue: false });
}

 $(document).on("click", "#explore-button", function() {

   var formData = new FormData();
   formData.append("location", $("#location-field").val());
   formData.append("radius", $("#radius-field").val());

   if ($("#skill").val()){
    formData.append("skill", $("#skill").val());
  }

  if ($("#gender").val()) {
   formData.append("gender", $("#gender").val());
 }

  if ($( "#slider-range" ).slider( "values", 0 ) != 13) {
   formData.append("min_age", $( "#slider-range" ).slider( "values", 0 ));
 }
 if ($( "#slider-range" ).slider( "values", 1 ) != 120) {
   formData.append("max_age", $( "#slider-range" ).slider( "values", 1 ));
 }
    $.post({
      type: "POST",
      url: "/explore/",
      data: formData,
      processData: false,
      contentType: false,
      success(response) {
        var response = JSON.parse(response);
        var status = response["status"];
        if (status === "Successfully validated") { location.replace(response["url"]); }

        else{message(status, response["box_ids"], true);}
        
      }});
 });

 $(function() {
    $( "#slider-range" ).slider({
      range: true,
      min: 13,
      max: 120,
      values: [{% if min_age %}{{ min_age }}{% else %} 13 {% endif %}, {% if max_age %}{{ max_age }}{% else %} 120 {% endif %}]
      ,
      slide: function( event, ui ) {
        $( "#amount" ).text( ui.values[ 0 ] + " - " + ui.values[ 1 ] );
      }
    });
    $( "#amount" ).text( $( "#slider-range" ).slider( "values", 0 ) +
      " - " + $( "#slider-range" ).slider( "values", 1 ) );
  } );
</script>
{% endblock %}