{% extends "base.html" %}
{% block body %}

{% include "navbar.html" %}
	<section class="hero is-primary is-bold is-medium">

  	<div class="hero-body">
    <div class="container has-text-centered">
          <div id="explore-box" class="explore-box">
            <div class="signup-area">
              <p class="title">Explore</p>
              <br>
              <div class="field">
                <p class="control has-icons-left has-icons-right">
                  <input id="location" class="input is-success" type="location" placeholder="Location">
                  <span class="icon is-small is-left">
                    <i class="fa fa-globe"></i>
                  </span>
                  <span class="icon is-small is-right">
                    <i class="fa fa-check"></i>
                  </span>
                </p>
              </div>
              <div class="field">
                <p class="control has-icons-left has-icons-right">
                  <input id="radius" class="input " type="int" placeholder="Radius (km)">
                  <span class="icon is-small is-left">
                    <i class="fa fa-wifi"></i>
                  </span>
                  <span class="icon is-small is-right">
                    <i class="fa fa-check"></i>
                  </span>
                </p>
              </div>
              <br>
              <a id="explore-button" class="form-button button is-primary is-inverted is-outlined">Explore</a>
              <br>
              <br>
              <i><a id="feedback" class="feedback"></a></i>
            </div>
            {% if search and profiles %}
            {% for profile in profiles %}
                <div>
                <b><a href="/profile/{{profile.username}}/"> {{ profile.name }} </a>, {{profile.haversine_distance(*locargs)}} km </b>
              </div>
              {% endfor %}
            {% endif %}
            {% if search and not profiles %}
            <div>
              Couldn't find any profiles nearby..
            </div>
            {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>  
  </div>
</section>
{% include "footer.html" %}
{% endblock %}
{% block scripts %}
<script src="../static/js/navbar.js"></script>
<script src="../static/js/expl0re.js"></script>
{% endblock %}