<section class="hero">
  <footer class="footer">
    <div class="container">
      <div class="content has-text-centered">
        <p>
          <strong>Start</strong> af Nicolai Terndrup <i>&</i> Frederik Christoffersen
          <span class="icon is-small">
            <i class="fa fa-copyright"></i>
          </span><b>2020</b>
        </p>
        <p>
          <a class="icon has-text-primary" href="https://github.com/FrederikWLC" target="_blank">
            <i class="fa fa-globe"></i>
          </a>          
          <a class="icon has-text-primary" href="https://github.com/FrederikWLC" target="_blank">
            <i class="fa fa-github"></i>
          </a>
          <a class="icon has-text-primary" href="mailto:FrederikWLC@github.user" target="_blank">
            <i class="fa fa-envelope"></i>
          </a>
        </p>
      </div>
    </div>
  </footer>
</section>