{% extends "base.html" %}
{% block body %}

{% include "navbar.html" %}
	<section class="hero is-info is-bold is-small">

  	<div class="hero-body">
  
          
        <div valign="top" class="row" id="bigBox">
            <div  width="256px" class="column" id="leftBox">
              <div id="profile_pic">
              <img id="profile_image" src="{{ group.profile_pic.src }}"></div>
              </div>
            <div class="column" id="middleBox">
              <h1 style="color:black"><b>
              
              {{ group.name }}</b></h1>
              
              <h2 style="color:black">group: <span style="color:gray">@{{ group.handle }}</span></h2>
               
              <hr id="seperation">
              <textarea class="textarea has-fixed-size is-success" id="bio-box" readonly>{% if group.description %}{{ group.description }}{% endif %}</textarea> 

            </div>
            <div class="column" id="rightBox">
              {% if current_user.is_authenticated %}
              <div class="spacy row">
              {% if current_user in group.members.all() %}
                  {% if group.member_has_permission(current_user, "admin") %}
                  <a class="button is-link is-normal is-outlined" id="edit-button" href="/settings/group/{{group.handle}}/">Edit Group</a>
                  {% else %}
                  <a class="button is-info is-normal thicc">Joined</a>
                  {% endif %}
              {% elif current_user.submitted_applications.filter_by(recipient=group, response=None).first() %}
              <a class="button is-info is-normal" title="Pending.." disabled>Pending..</a>
              {% else %}
              <a class="button is-link is-normal is-outlined" href="/connect/group/{{group.handle}}/">Join</a>
              {% endif %}
            </div>
            {% endif %}
            <div class="spacy row">
              <a id="members"  href="/group/{{group.handle}}/members/"  class="button is-link is-normal is-outlined">Members</a>
            </div>
            </div>

        </div>

        <div id="skillBox" class="row has-text-centered">
          <h3 class="title is-4" id="skill-title" style="color:black"><b>Skills</b></h3>
          {% for skill in skills %}
          <div class='skill'>
          <button class='button is-info is-normal is-'>
            <span>{{ skill.title }}</span>
            </button>
        </div>
      {% endfor %}
        </div>

  </div>
</section>
{% if edit_groupss %}
{% include "edit_group.html" %}
{% endif %}
{% endblock %}
{% block scripts %}
<link rel="stylesheet" href="/static/css/profile.css">
<link rel="stylesheet" href="/static/css/group.css">
<script src="/static/js/navbar.js"></script>
{% if edit_group %}
<link rel="stylesheet" href="/static/css/edit_profile.css">
<script src="/static/js/edit_group.js"></script>
{% endif %}
{% endblock %}