{% extends "base.html" %}
{% block body %}
{% include "navbar.html" %}
<title>Start</title>
<section class="hero is-info is-bold is-medium">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="columns">
        <div class="column is-auto">
          <br>
          <p class="title is-2">Start</p>
          <p class="subtitle is-4"><i>Connecting the bright minds of our world</i></p>         
        </div>
        <div class="column is-auto">
          <div id="login-box" class="login-box">
            <div class="signup-area">
              <p class="title">Login</p>
              <p> Not registered yet?
              <a href="/register"><b>Register</b></a></p>
              <br>
              
              <div class="field" id="username">
                <p class="control has-icons-left has-icons-right">
                  <input id="login-username" class="input is-success" type="text" placeholder="Username">
                  <span class="icon is-small is-left">
                    <i class="fa fa-id-card"></i>
                  </span>
                  <span class="icon is-small is-right">
                    <i class="fa fa-check"></i>
                  </span>
                </p>
              </div>

              <div class="field" id="password">
                <p class="control has-icons-left has-icons-right">
                  <input id="login-pass" class="input" type="password" placeholder="Password">
                  <span class="icon is-small is-left">
                    <i class="fa fa-lock"></i>
                  </span>
                  <span class="icon is-small is-right">
                    <i class="fa fa-check"></i>
                  </span>
                </p>
              </div>

              <br>
              <a id="login-button" class="form-button button is-primary is-inverted is-outlined">Login</a>
              <br>
              <br>
              <i><a id="feedback" class="feedback"></a></i>
            </div>
          </div>
        </div>
      </div>
    </div>  
  </div>
</section>
{% include "footer.html" %}
{% endblock %}
{% block scripts %}
<script src="../static/js/auth.js"></script>
{% endblock %}