{% extends "base.html" %}
{% block body %}

{% include "navbar.html" %}

	<section class="hero is-primary is-bold is-medium">

  	<div class="hero-body">
      <div class="container has-text-centered">
        <p class="title">Relations</p>
          
        {% if relations %}
        {% for relation in relations %}

              <div valign="top" class="row" id="bigBox">
            <div class="column" id="leftBox" onclick="window.location='/profile/{{relation.username}}/';"><img id="image" src="{{ relation.get_profile_pic() }}"></div>
            <div class="column" id="middleBox" onclick="window.location='/profile/{{relation.username}}/';">
              <h1 style="color:black"><b>   
              {{ relation.name }}</b>{% if relation == current_user %} (You){% endif %}</h1>
              
          </div>
            <div class="column" id="rightBox">
              {% if profile == current_user %}
              <span class="icon is-large" onclick="window.location='/messages/{{relation.username}}/';">
              
  <span class="fa-2x" id="chat">
    <i class="fas fa-comments"></i>
  </span>
</span>
              {% endif %}
            </div>
            <hr>
        </div>
              {% endfor %}
            {% else %}
            <div>
              No relations yet..
            </div>
            {% endif %}
</div>
  </div>
</section>
{% include "footer.html" %}
{% endblock %}
{% block scripts %}
<style>



/* Create three equal columns that floats next to each other */
.column {
  vertical-align: middle;
  float: left;
  padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

#bigBox {
  width: 425px;
  height: 75px;
  margin: auto;
  cursor: pointer;
}

#bigBox:hover{
  outline:3px solid white;
}

#leftBox {
  float:left;
  height:75px;
  width: 75px;
  padding: 0px;
  padding-right: 0px;
  background-color: white;
}

#image {
  width: 100%;
  height: 100%;
}

#middleBox {
  float:middle;
  height: 75px;
  width: 250px;
  background: white;
  padding-left: 1px;
}

#rightBox {
  float:right;
  height:75px;
  width: 100px;
  background: white;
  color: black;
}

#field {
  width: 425px;
  margin: auto;
}
</style>
<script>
          $(document).ready(function () {
        $('#chat').hover(function () {
            $(this).addClass('fa-3x');
        }, function () {
            $(this).removeClass('fa-3x');
        });
    });
</script>
<script src="/static/js/navbar.js"></script>>
{% endblock %}